*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    

    font-family: 'Poppins', sans-serif;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   margin: 56px 0px;
   padding: 0px;
}

.img-logo{  
    width: 180px;
    gap: 2rem;
    border-radius: 50%;
}
p{
   text-align: center;

}


ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    padding: 24px 0px;
    margin-bottom: 40px;
}

li{
    display: flex;
    flex-direction: column;    

    margin: 0 130px;

    width: 326px;
    height: 45px;

}
li a{
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   justify-content: space-between;

   border: 2px solid #BB99DD;
   border-radius: 25px;

   padding: 9px 24px;

   text-align: center;
   font-family: Poppins;
   font-size: 12px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;


}

li:hover{
    background-color: #dbaef0; 
    border-radius: 26px;
    color: #9699a3; 
    cursor: pointer;
}

.incos{
    display: flex;
    justify-content: center;
    gap: 29px;


    margin-bottom: 20px;
}

.icom{
    width: 24px;
    height: 24px;
}

.inscos{


 color: aliceblue;
 padding: 5px;
 border-radius:30px;
 background-color: #9699a3;
}

.inscos:hover{
    border-radius: 5px; 
    cursor: pointer;
}

footer{
    text-align: center;
}
span{
    color: rgb(70, 70, 231);
}

